a{
    text-decoration:none;
    font-size:18px;
    color:#E5E7EB;
}

a:hover{
    border-bottom:yellow solid;
}

ul{
    list-style-type:none;
}


/* 
header ig and its stuff like the navbar thing 
although i forgot to call it navbar and the header thing 
but ye still ig anyways its hella shit so am glad that it works idk
how it works tho but it does work */

.header{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    background-color:#1F2937;
    padding-left:100px;
    padding-right:130px;
}

.header-logo{
    font-size:24px;
    color:#F9FAF8;
    padding:10px;
}


ul{
    display:flex;
    gap:10px;
    padding:10px;
}


.header-content{
    display:flex; 
    flex-wrap:nowrap;
    align-items:center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px 0;
    padding-left:100px;
    padding-right:130px;
    
}

.h3{
    font-weight:900;
}

.container-1{
    display:flex;
    flex-direction:column;
}


/* middle part begins here */


.paragraph{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
    font-weight:900;

}

.container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;  
    align-items:center;
    justify-content: center;   
}

.text{
    text-align:center;
    padding:5px;
}


#one , #two , #three , #four {
    width:170px;
    height:auto;
}

.image{
    width:170px;    

}


/* content lower */

.lower-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:30px;
    background-color:#E5E7EB;
    margin-top:30px;
}

.quote{
    font-size:36px;
    font-style:italic;
    color:#1F2937;
}

.by{
    padding-left:380px;
    padding-top:10px;
    font-weight:900;
}
